@font-face {
    font-family: 'MyFont';
    src: url('assets/fonts/Caitlynnfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelFont';
    src: url('assets/fonts/ms-sans-serif-1.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 1rem;
}

.wall-text {
    font-family: 'MyFont', sans-serif;
    font-size: 1.5rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

logo {
    position: absolute;
}

.logo-text {
    font-family: 'MyFont', sans-serif;
    font-size: 32px;
}





/* Nav */
.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    z-index: 1000;
}

.Navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 24px;
}

.Navbar ul li {
    display: inline; 
}

.Navbar ul li a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    font-family: 'MyFont', sans-serif;
    font-size: 24px;
}

.Navbar ul li a:hover {
    color: #c6235c; 
}




/* Room */
.Room {
    display: flex;
    flex-wrap: nowrap;
    width: 300vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.Room::-webkit-scrollbar {
    display: none;
}

.section {
    flex: none;
    min-width: fit-content;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    scroll-snap-align: start;
}




/* Door */
.bedroomdoor {
    width: 400px;
    position: absolute;
    left: -250px; 
    bottom: 0;
    top: 20%;
    z-index: 1;
}



.bed {
    width: 1000px;
    position: absolute;
    left: -750px; 
    bottom: 0;
    top: 58%;
    z-index: 10;
}





/* Home */
.home {
    background-color: rgb(255, 255, 255);
    display: 100%;
    padding: 24px;
}



.entrance {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    display: flexbox;
    margin-bottom: 700px;
}

.welcome-message {
    background-color: #ffffff;
    width: fit-content;
    height: min-content;
    animation: fadeIn 1s ease-in-out;
    margin-top: 100px;
    left: 24px;
}

.profilePic {
    top: 250px;
    position: absolute;
    width: 250px;
    left: 600px;
}

.contact {
    /*background-color: lightcoral;*/
}

.phone {
    width: 165px;
    transform: scaleX(-1);
    position: absolute;
    left: 360px;
    top: 67%;
    z-index: 10;
    transition: transform 0.1s ease-in-out;
}

.phone:hover {
    transform: scaleX(-1) scale(1.05); 
}


.businesscard {
    width: 150px;
    position: absolute;
    left: 475px;
    top: 73%;
    z-index: 8;
}

.businesscard:hover {
    transform: scale(1.05); 
}

.sidetable {
    position: absolute; 
    display: inline-block;
    width: 375px;
    height: auto;
    left: 300px;
    top: 70%;
    z-index:6;
}

.rug {
    width: 600px;
    position: absolute;
    left: 650px;
    top:93%;
    z-index: 1;
}

.window {
    position: absolute;
    width: 375px;
    top: 150px;
    left: 900px;
}


/* Projects */
#projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding: 24px;
    height: 100vh;
    position: relative;
}

.corkboard {
    transform: rotate(90deg);
    height: 500px;
}


/* Bookshelf */
.bookshelf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1000px;
    width: 100%;
}

.bookshlefvector {
    width: 500px;
    max-width: 100%;
    top: 100px;
    left: 1500px;
    position: absolute;
}

.desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.computer {
    width: 500px;
    max-width: 100%;
    transform: scaleX(-1);
    position: absolute; 
    top: 48%;
    z-index: 3;
    left: 400px;
}

.computer:hover {
    transform: scaleX(-1) scale(1.05); 
}

.desk img.desk {
    width: 1400px;
    max-width: 100%;
    margin-top: 80%;
    height: auto;
    z-index: 2;
}

.deskchair {
    position: absolute;
    width: 600px;
    max-width: 100%;
    top: 60%;
    bottom: 0%;
    z-index: 1;
    left: -75px;
}


/* Research */
.research {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whiteboard-container {
    position: relative;
    width: 800px; 
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteboard-bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#drawingCanvas {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    background: transparent;
    cursor: crosshair;
    z-index: 2;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

/* Star Wars */
.star-wars-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
    margin: 40px 0;
    width: fit-content;
  }
  
  .star-wars-img img {
    width: 750px;
    max-width: 500px;
    border-radius: 8px;
  }
  
  .GDDSProject {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .GDDSimg {
    position: relative;
    max-width: 500px; /* Adjust image size */
  }
  
  .star-wars-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .GDDStextbox {
    position: absolute;
    top: 32%;  
    left: 40%;
    transform: translateX(-30%);
    width: fit-content;
    background-color: rgb(251, 246, 231); 
    padding: 2px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
  }
  
  .GDDStext {
    font-family: 'Caitlynnfont', sans-serif;
    text-align: center;
    border: solid 4px  #333;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    justify-content: center;
  }
  
  .star-wars-text h4 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 24px 0;
  }
  
  .star-wars-textbox h3 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .star-wars-textbox p {
    font-size: 18px;
    color: #666;
    margin: 10px 0;
  }



/* about */
.about {
    background-color: lightgreen;
}

.locker {
    width: 100px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Ringing*/
.ringing {
    animation: shake 0.3s infinite alternate;
}

@keyframes shake {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}
